.Admin-Page{
    height: 100vh;
    background-color: #DBE2EF;
}
.quiz-container-admin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82vh;
}
.quiz-sub-container-admin{
    height: 80%;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    position: relative;
}
.quiz-sub-container-admin>div{
    margin: auto;
}
.quiz-container-expanded{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute ;
    width: 100%;
    height: 100%;
    background-color: #3F72AF;
    border-radius: 25px;
    box-shadow: 2px 2px 8px #112D4E;
    font-family: 'Playpen Sans', cursive;
    opacity: 1;
    z-index: 2;
}
.stats{
    color: #DBE2EF;
}
.stats>h1{
    color: #112D4E;
    font-size: 25px;
}
.topper-sub-container{
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top{
    width: 225px;
    color: #112D4E;
    font-size: 4vh;
}
#close{
    position: absolute;
    top: 25px;
    right: 30px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    background-color: rgb(219, 86, 86);
    opacity: 1;
    color: #DBE2EF;
    box-shadow: 2px 2px 8px #112D4E;    
}
#delete{
    position: absolute;
    right: 30px;
    bottom: 40px;
    height: 50px;
    width: 75px;
    border-radius: 25px;
    box-shadow: 2px 2px 8px #112D4E;
    font-family: 'Playpen Sans', cursive;
    border: none;
}
#delete:hover{
    background-color: rgb(219, 86, 86);
    color: #DBE2EF;
    transition: all 50ms;
}
.toppers{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    list-style: decimal;
    position: relative;
}
.toppers>li{
    text-align: left;
    color: #DBE2EF;
}
.topic{
    color: #DBE2EF;
}