.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 20vh;
    background-color: #3F72AF;
    border-radius: 15px;
    box-shadow: 2px 2px 8px #112D4E;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-container h3{
    margin: 5px auto;
    color: #DBE2EF;
    font-family: 'Playpen Sans', cursive;
}

#expander{
    border: none;
    height: 40px;
    width: 70px;
    border-radius: 25px;
    font-family: 'Playpen Sans', cursive;
    background-color: #112D4E;
    color: #DBE2EF;
}