.quizStart{
    color: #DBE2EF;
    height: 100vh;
    background-color: #DBE2EF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.quiz-container{
    background-color: #3F72AF;
    height: 60%;
    width: 60%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 8px #112D4E;
}
.option-container{
    flex-basis: 70%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.opt{
    margin: 10px auto;
    background-color: #112D4E;
    height: 35px;
    width: 50%;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid #337ed3;
}
.opt:hover{
    transition: all 50ms;
    background-color: #DBE2EF;
    color: #112D4E;
}